@use "../../../styles/partials/variables";

.x-mark {
  color: variables.$color-medium-gray;
  font-size: variables.$font-medium;
  cursor: pointer;
  margin-left: auto;
  transition: color 0.3s;

  &:hover,
  &:active {
    color: variables.$color-gray;
  }
}
