@use "../../../../../styles/mixins/flexbox";

@use "../../../../../styles/partials/variables";

.description {
  @include flexbox.flexbox(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 2rem
  );

  text-align: center;

  .description__description {
    color: variables.$color-black;
    font-family: variables.$main-font-family;
    width: 80%;
  }
}
