@use "../../../styles/mixins/flexbox";

.account {
  margin: 2rem;

  &__header {
    @include flexbox.flexbox(
      $justify: center,
      $align: center,
      $gap: 1rem,
      $direction: column
    );
  }

  &__main {
    @include flexbox.flexbox($justify: space-evenly, $align: center);
  }
}
