@use "../../../../styles/partials/variables";

.form-container {
  background-color: variables.$color-white;

  &__title {
    font-size: variables.$font-large;
    color: variables.$color-black;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__paragraph {
    // font-family: variables.$main-font-family;
    color: variables.$color-medium-gray;
    font-size: variables.$font-normal;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__children {
    margin-bottom: 2rem;
  }


}
