@use "../../../../styles/partials/variables";
@use "../../../../styles/mixins/flexbox";

.nav {
  margin-top: 5rem;
  border-bottom: 0.08rem solid variables.$color-browser-gray;

  &__list {
    @include flexbox.flexbox(
      $justify: center,
      $align: center,
      $gap: 3rem,
      $direction: row
    );
    cursor: pointer;
  }

  &__item {
    color: variables.$color-medium-gray;

    &_selected {
      color: variables.$color-black;
      text-decoration: underline;
      text-decoration-color: variables.$color-violet;
      text-underline-offset: 0.175rem;
      text-decoration-thickness: 0.06rem;
      cursor: default;
    }
  }
}
