.cursor-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.cursor-image {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none;
  transition: transform 0.4s ease-out;
  z-index: 9999;
}
