@use "./partials/variables";

html {
  line-height: 1.25;
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 62.5rem var(--white) inset !important;
}

input,
textarea {
  caret-color: variables.$color-pink;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: var(--small);
  height: var(--small);
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.063rem solid var(--gray);
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--very-light-pink);
}

input[type="radio"] {
  display: none;
}

// ::-webkit-scrollbar {
//   width: 0.375rem;
// }

// ::-webkit-scrollbar-track {
//   background: var(--light-pink);
//   border-radius: 0.375rem;
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--medium-pink);
//   border-radius: 0.375rem;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: var(--pink);
// }

// body::-webkit-scrollbar {
//   width: 0.25rem;
//   height: 0rem;
// }

.form-control {
  border-color: transparent;
  border-bottom: 0.08rem solid variables.$color-pink;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: white;
  background-image: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
  background-color: transparent;
}

.form-control.is-invalid {
  border-color: transparent;
  border-bottom: 0.08rem solid variables.$color-red;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: transparent;
}

.form-control:focus {
  color: variables.$color-pink;
  box-shadow: none;
  border-color: transparent;
  border-bottom: 0.16rem solid variables.$color-pink;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: transparent;
}

.form-control.is-invalid:focus {
  border-color: transparent;
  box-shadow: none;
  border-bottom: 0.14rem solid variables.$color-red;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: transparent;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: transparent;
  border-bottom: 0.08rem solid variables.$color-pink;
  background-image: none;
  background-color: white;
}

.form-control.is-valid:focus {
  border-color: transparent;
  box-shadow: none;
  border-bottom: 0.14rem solid variables.$color-pink;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: transparent;
}

.valid-feedback {
  display: none !important;
  color: transparent;
}

.invalid-feedback {
  color: variables.$color-red;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.mt-5 {
  margin-top: 0 !important;
}

.mb-3 {
  margin: 0 !important;
  padding-bottom: 0.5rem !important;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 1.75rem 0 0 0 !important;
}

.form-floating > label {
  padding: 0.75rem 0 0 0 !important;
}

form {
  font-family: variables.$main-font-family;
}

.form-floating label {
  transform: translateY(1.2rem); /* Move label 0.5rem down */
}

.form-floating input:focus ~ label,
.form-floating input:not(:placeholder-shown) ~ label {
  transform: translateY(
    -1.2rem
  ); /* Ensure it moves back up when input is active */
}
input:-internal-autofill-selected,
input:-webkit-autofill {
  background-color: transparent !important; /* Transparent background */
  color: inherit !important; /* Inherit text color */
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Mask autofill highlight */
  box-shadow: 0 0 0px 1000px white inset !important;
}

input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  // max-width: calc(360px - 2rem) !important;
  // min-width: calc(360px - 2rem) !important;
}
