@use "../../../../styles/partials/variables";
@use "../../../../styles/mixins/flexbox";

.collection-link {
  @include flexbox.flexbox($justify: start, $align: center);

  &__item {
    animation: transitioning 1s forwards;
    @include flexbox.flexbox($justify: start, $align: center);

    &_selected {
      text-decoration: underline;
      text-decoration-color: variables.$color-violet;
      text-underline-offset: 0.175rem;
      text-decoration-thickness: 0.06rem;
      color: variables.$color-black;
    }

    &_not-selected {
      text-decoration: none;
      color: variables.$color-gray;
    }
  }

  &__icon {
    margin: 0 auto;
  }
}
