@import "../../../../variables";

%link-shared {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: transitioning 1s forwards;
}

.link {
  @extend %link-shared;
}

.link.selected {
  text-decoration: underline;
  text-decoration-color: $color-violet;
  text-underline-offset: 0.175rem;
  color: $color-black;
}

.link.not-selected {
  text-decoration: none;
  color: $color-gray; 
}
