@use "../../../styles/partials/variables";

@mixin base-button() {
  all: unset;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 0 0.2em 0 rgb(0, 0, 0, 0.2);
  font-family: variables.$medium-font-family;
  font-size: variables.$font-medium;
  transition: 
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out;
}

.pink-button {
  @include base-button;

  background-color: variables.$color-pink;
}

.black-button {
  @include base-button;

  background-color: variables.$color-black;
  color: variables.$color-white;

  &:hover {
    background-color: variables.$color-pink;
    color: variables.$color-black;
  }
}
