@use "../../../styles/partials/variables";

@mixin base-button() {
  all: unset;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-top: 3rem;
  font-family: variables.$medium-font-family;
  font-size: variables.$font-medium;
  transition: background-color 300ms linear, color 300ms, box-shadow 300ms;
}

.pink-button {
  @include base-button;

  background-color: variables.$color-pink;
}

.black-button {
  @include base-button;

  background-color: variables.$color-black;
  color: variables.$color-white;

  &:hover {
    background-color: variables.$color-gray;
  }
}
