@use "../../../styles/mixins/flexbox";

.shipping-details-form {
  @include flexbox.flexbox(
    $justify: center,
    $align: center,
    $gap: 1rem,
    $flex-wrap: wrap
  );

  &__button {
    margin: 2rem auto 0 auto;
    padding-bottom: 0.2rem !important;
    width: calc(360px - 2rem);
  }
}
