@use "../../../styles/partials/variables";

.collection {
  background-image: linear-gradient(
    to right,
    variables.$color-very-light-pink,
    variables.$color-very-light-gray
  );

  &__item {
    display: flex;
  }

  &__item:nth-last-child(even) {
    flex-direction: row-reverse;
  }
}
