@use "../../../styles/partials/variables";
@use "../../../styles/mixins/flexbox";

.base-product {
  @include flexbox.flexbox(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 1rem
  );
  background-color: variables.$color-white;
  padding: 0.75rem;
  transition: box-shadow 300ms ease-in-out;

  box-shadow: rgba(50, 50, 93, 0.6) 0px 8px 32px -12px,
    rgba(0, 0, 0, 0.6) 0px 6px 12px -18px;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 8px 32px -4px,
      rgba(255, 255, 255, 0.9) 0px 6px 12px -6px;
  }
}
