@use "../../../../../styles/partials/variables";
@use "../../../../../styles/mixins/flexbox";

.card_container {
  @include flexbox.flexbox(
    $direction: column,
    $justify: center,
    $align: center
  );

  
}
