@use "../../../../../styles/partials/variables";
@use "../../../../../styles/mixins/flexbox";

.product-card-container {
  @include flexbox.flexbox(
    $direction: column,
    $justify: center,
    $align: center
  );
}
