@use "../../../../../../styles/partials/variables";

@use "../../../../../../styles/mixins/flexbox";

.collection-item {
  @include flexbox.flexbox(
    $direction: column,
    $justify: center,
    $align: center
  );

  .collection-item__button {
    all: unset;
    text-decoration: underline;
    text-underline-offset: 0.175rem;
    margin-bottom: 0.75rem;
    background-color: none;
  }

  .collection-item__product {
    background-color: variables.$color-white;
    padding: 0.75rem;
  }

  .collection-item__stock-info,
  .collection-item__interaction-icons {
    @include flexbox.flexbox($justify: space-between);
  }

  .collection-item__available-colors {
    @include flexbox.flexbox($justify: center, $align: center, $gap: 1rem);
  }
}
