@use "../../../../../../styles/partials/variables";

@use "../../../../../../styles/mixins/flexbox";

.product_card {
  @include flexbox.flexbox(
    $direction: column,
    $justify: center,
    $align: center
  );

  .product_card__button {
    all: unset;
    text-decoration: underline;
    text-underline-offset: 0.175rem;
    margin-bottom: 0.75rem;
    background-color: none;
  }

  .product_card__product {
    @include flexbox.flexbox(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 1rem
    );
    background-color: variables.$color-white;
    padding: 0.75rem;
  }

  .product_card__stock-info,
  .product_card__interaction-icons {
    @include flexbox.flexbox($justify: space-between);
  }

  .product_card__materials {
    @include flexbox.flexbox($justify: center, $align: flex-end);

    .product_card__metal {
      color: variables.$color-medium-gray;
      justify-self: baseline;
      font-family: variables.$main-font-family;
    }
  }
}
