@import "../../../variables";

header {
  grid-area: header;
  // margin-top: auto;
  border-bottom: 0.08rem solid $browser-gray;
  transition: all 0.9s ease;
  animation: slideIn 0.4s forwards;

  nav {
    margin: auto 2rem 0.1rem 2rem;

    ul {
      display: flex;
      gap: 2rem;
    }

    li {
      transition: transform 600ms ease;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $medium-font-family;

      &:hover,
      &:active {
        transform: scale(1.1);
      }
      &:nth-of-type(6) {
        margin-right: auto;
      }
    }
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0); /* Neutral position */
  }
  50% {
    transform: translateY(-0.25rem); /* Move up */
  }
}

li:nth-child(1),
li:nth-child(2),
li:nth-child(3),
li:nth-child(4),
li:nth-child(5),
li:nth-child(6) {
  animation: wave 3s ease-in-out infinite; /* Continuous wave effect */
  display: inline-block; /* Ensure items are treated individually */
}

/* Stagger the animation for each list item */
li:nth-child(1) {
  animation-delay: 0s;
}

li:nth-child(2) {
  animation-delay: 0.4s;
}

li:nth-child(3) {
  animation-delay: 0.8s;
}

li:nth-child(4) {
  animation-delay: 0.6s;
}

li:nth-child(5) {
  animation-delay: 1s;
}

li:nth-child(6) {
  animation-delay: 2s;
}


@keyframes slideIn {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}


.hidden {
  transform: translateY(-100%); 
}
