@import "../../../variables";

header {
  grid-area: header;
  margin-top: auto;
  border-bottom: 0.08rem solid $browser-gray;

  nav {
    margin: auto 2rem 0.1rem 2rem;

    ul {
      display: flex;
      gap: 2rem;
    }

    li {
      transition: transform 600ms ease;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $medium-font-family;

      &:hover,
      &:active {
        transform: scale(1.1);
      }
      &:nth-of-type(6) {
        margin-right: auto;
      }
    }
  }
}

