.x-mark {
  display: flex;
  color: var(--medium-gray);
  font-size: var(--medium);
  cursor: pointer;
  margin-bottom: 0.75rem;
  margin-left: auto;
}

.x-mark:hover,
.x-mark:active {
  color: var(--gray);
}

.overlay.slide-in {
  opacity: 1;
  visibility: visible;
  animation: slideIn 0.6s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
