@use "../../../../../styles/mixins/flexbox";

@use "../../../../../styles/partials/variables";

.overview {
  width: 50%;

  .overview__product {
    @include flexbox.flexbox(
      $direction: column,
      $justify: center,
      $align: center
    );
  }
}
