@use "../../../styles/partials/variables";

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-top: 0.08rem solid variables.$color-browser-gray;
  color: variables.$color-gray;

  address {
    margin: 0;
  }
}
