@use "../../../styles/partials/variables";
@use "../../../styles/mixins/flexbox";

footer {
  @include flexbox.flexbox($justify: center, $align: center, $gap: 0.3rem);
  grid-area: footer;
  border-top: 0.08rem solid variables.$color-browser-gray;
  color: variables.$color-gray;

  address {
    margin: 0;
  }
}
