@use "../../../styles/partials/variables";

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.08rem solid variables.$color-browser-gray;
  color: variables.$color-gray;
}
