@use "../../../styles/partials/variables";

main {
  position: absolute;
  top: 8rem;
  background-image: linear-gradient(
    to right,
    variables.$color-very-light-pink,
    variables.$color-very-light-gray
  );
}
