@use "../../../../../styles//partials/variables";

.stock-status {
  font-size: variables.$font-normal;

  &__circle {
    color: variables.$color-green;
    font-size: 0.375rem;
    margin-bottom: 0.18rem;
    margin-right: 0.2rem;
  }
}
