html {
  line-height: 1.25;
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "tisaSansProLight";
  src: url("./assets/fonts/tisaSansProLight.ttf") format("truetype");
}

@font-face {
  font-family: "tisaSansProBold";
  src: url("./assets/fonts/tisaSansProMedium.ttf") format("truetype");
}

@font-face {
  font-family: "tisaSansProBoldItalic";
  src: url("./assets/fonts/tisaSansProMediumItalic.ttf") format("truetype");
}

:root {
  --main-font-family: tisaSansProLight, Arial, sans-serif, -apple-system,
    ui-sans-serif, system-ui;
  --bold-font-family: tisaSansProBold, Arial, sans-serif, -apple-system,
    ui-sans-serif, system-ui;
  --bold-italic-font-family: tisaSansProBoldItalic, Arial, sans-serif,
    -apple-system, ui-sans-serif, system-ui;
}

:root {
  --small: 0.813rem;
  --normal: 0.875rem;
  --medium: 1rem;
  --large: 1.375rem;
  --xlarge: 1.75rem;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --pink: #e48cb0;
  --medium-pink: #ecafc8;
  --light-pink: #fae8ef;
  --very-light-pink: #fcf4f7;
  --violet: #cb9bf7;
  --dark-violet: #a27cc6;
  --very-light-violet: #cb9bf717;
  --blue: #2334a3;
  --red: #fa2a55;
  --medium-red: #fb3f66;
  --light-red: #ffeaee;
  --green: #00b200;
  --gray: #4c4a49;
  --medium-gray: #878685;
  --light-gray: #cbc9c9;
  --very-light-gray: #f3f3f3;

  --bs-border-color: #e48cb0;
  --bs-form-invalid-border-color: #fa2a55;
  --bs-form-invalid-color: #fa2a55;
  --bs-body-font-family: tisaSansProLight, Arial, sans-serif, -apple-system,
  ui-sans-serif, system-ui;
}

/* input[type="text"],
[type="password"],
[type="email"] {
  border-color: var(--pink);
  background-color: transparent;
  width: 100%;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 62.5rem var(--white) inset !important;
}

/* input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
} */

input,
textarea {
  caret-color: var(--pink);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: var(--small);
  height: var(--small);
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.063rem solid var(--gray);
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--very-light-pink);
}

input[type="radio"] {
  display: none;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background: var(--light-pink);
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background: var(--medium-pink);
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}

body::-webkit-scrollbar {
  width: 0.25rem;
  height: 0rem;
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--pink);
  box-shadow: 0 0 0 .25rem var(--light-pink);
}

.form-control.is-invalid:focus {
  border-color: var(--red);
  box-shadow: 0 0 0 .25rem var(--light-red);
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: var(--pink);
  background-image: none;
}

.form-control.is-valid:focus {
  border-color: var(--pink);
  box-shadow: 0 0 0 .25rem var(--light-pink);
}

.valid-feedback {
  display: none !important;
  /* display: none; */
  color: transparent;
}
