@use "../../../../../styles/partials/variables";

.title {
  font-size: variables.$font-large;
  color: variables.$color-black;
  margin-bottom: 2rem;
  text-align: center;
}

.paragraph {
  color: variables.$color-medium-gray;
  font-size: variables.$font-normal;
  margin-bottom: 1rem;
  text-align: center;
}
