@use "../partials/variables";

@mixin underlined-button() {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 0.06rem;
  margin-bottom: 1rem;
  font-family: variables.$main-font-family;
}
