@use "../../../../../../styles/mixins/underlined-button";
@use "../../../../../../styles/partials/variables";

.button {
  @include underlined-button.underlined-button(
    $color: variables.$color-medium-gray,
    $background: variables.$color-medium-gray
  );

  color: variables.$color-medium-gray;

  &:hover {
    color: variables.$color-black;
  }
}
